.seats {
  background-color: red;
}

.select-seat {
  display: flex;
  justify-content: center;
}

.select-seat h1 {
  font-weight: 400;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #293845;
}

.seat {
  width: 340px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.seat-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat div {
  width: 26px;
  height: 26px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  margin: 4px 3.5px;
  box-sizing: border-box;
}

.indisponivel {
  background-color: #fbe192;
  border: solid 1px #f7c52b;
}

.disponivel {
  background-color: #c3cfd9;
  border: solid 1px #808f9d;
}

.reservado {
  background-color: #8dd7cf;
  border: solid 1px #45bdb0;
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle span {
  width: 25px;
  height: 25px;
  border-radius: 17px;
  box-sizing: border-box;
}

.subtitle p {
  font-size: 13px;
  margin: 7px 13px 40px 13px;
  color: #4e5a65;
}

.sub {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.info {
  font-size: 18px;
  color: #293845;
  margin: 0px 0px 2px;
}

.input {
  margin-bottom: 10px;
  padding: 18px;
  width: 85vw;
  height: 50px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  box-sizing: border-box;
  font-style: italic;
  font-size: 18px;
  color: #afafaf;
}

.reserve {
  width: 225px;
  height: 42px;
  background-color: #e8833a;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  color: #ffffff;
  margin-top: 50px;
}

.sucesso {
  width: 100vw;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100vw;
  height: 117px;
  background-color: #c3cfd9;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
}

.footer img {
  width: 48px;
  height: 72px;
  border: solid 8px #ffffff;
  border-radius: 2px;
  margin: 0px 15px;
}

.footer h3 {
  font-size: 26px;
  font-weight: 400;
  color: #293845;
}
