.header {
    background-color:#C3CFD9;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
}

.header h1 {
    color: #E8833A;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 400;
}